<header>

  <div class="container"  >
      <a routerLink="/"><h3> Food hub </h3></a>


      <nav>
          <ul>
              <li>
                  <a routerLink="/login"><h3>Login</h3></a>
              </li>

              <li class="menu-container">
              <a routerLink="/dashbord"><h3>User</h3></a>
              <div class="menu">
                  <a routerLink="profile">Login</a>
                  <a routerLink="order">Order</a>
                  <a routerLink="Login">Logout</a>
              </div>
              </li>
              <li>
                  <a routerLink="/cart"><h4>Cart</h4><span>3</span></a>
              </li>
          </ul>
      </nav>
  </div>
  </header>
